.about-us-menu
	.about-us-menu__item
		a(href="our-team.html")
		img(src="img/about-us-1.png", alt="")
		.about-us-menu__item--text Наша команда
	.about-us-menu__item
		a(href="quality.html")
		img(src="img/about-us-2.png", alt="")
		.about-us-menu__item--text Качество оборудования
	.about-us-menu__item
		a(href="our-clients.html")
		img(src="img/about-us-3.png", alt="")
		.about-us-menu__item--text Наши клиенты
	.about-us-menu__item
		a(href="principles.html")
		img(src="img/about-us-4.png", alt="")
		.about-us-menu__item--text Принципы работы