footer
	.container
		.left
			div
				a(href="" class="logo")
					img(src="img/main_logo_w.png", alt="" class="logo")
					span ukraine

				ul
					li
						a(href="") О компании
					li
						a(href="") Дилеры
					li
						a(href="") Финансирование
				ul
					li
						a(href="") Наши работы
					li
						a(href="") Контакты

			.address
				div GLOBAL FITNESS USA
				div 1639 W. Rosecrans Ave Gardena, CA 90249
				div Tel: 310-808-0888 
				div Hours: Monday - Friday 8am - 5pm PST


		.right
			.order
				div Выберете удобные для Вас день время для обратного звонка
				button(class="btn btn--order") закажите звонок

			a(href="")
				img(src="img/logofooter.png", alt="")
			ul(class="menu")
				li 2019 @ Копирайт Глобал Фитнес
				li 
					a(href="") Информация  cookie                 
				li 
					a(href="") Конфиденциальность   
				li 
					a(href="") Использование личной информации