mixin product-item-discount(params)
	.catalog__goods__grid__item
		.catalog__goods__grid__item--article Артикул: 
			span 1234
		.catalog__goods__grid__item--favorite Избранное
			img(src="img/favorite.svg", alt="")
		.catalog__goods__grid__item--label -20%
		a(class="catalog__goods__grid__item--link" href="product-card.html")
			img(class="catalog__goods__grid__item--img" src="img/trainersearch.png")
			.catalog__goods__grid__item--descr= params.descr
			.catalog__goods__grid__item--title= params.title
		.catalog__goods__grid__item--price.disabled
			span= params.price
		.catalog__goods__grid__item--new-price= params.newPrice

		.catalog__goods__grid__item__buttons
			button(class="btn btn--buy")
				svg
					use(xlink:href="#icon-cart")
				span Купить
			a(href="compare.html")
				button(class="btn btn--compare")
					img(src="img/balance.png", alt="")