.about-page

	.title 
		font-size: 24px
		color: #666666
		font-weight: 600
		margin: 43px 0 0 0
		position relative
		&:after 
			content: ''
			background: $c-blue
			height: 2px
			width: 48px
			left: 0
			bottom: -20px
			position: absolute

	.subtitle
		margin: 45px 0 0 0
		font-size: 18px
		font-weight: 600
		text-transform: uppercase
		color: #363636

	.text
		font-size: 14px
		color: $c-text
		font-weight: 300
		margin-top: 14px
		line-height: 1.75em
		letter-spacing: 0px
	.bottom-block
		margin-top: 91px
	.circle-block-wrapper
		background: url(../img/about-us-circle-bg.png) no-repeat
		background-position: center
		// background-size: contain
		padding: 35px 0
	.circle-block
		width: 408px
		height: 408px
		position relative
		margin: 63px auto 10px
		background: $c-white
		border-radius: 100%
		border: 4px solid $c-blue
		&__logo 
			width: 300px
			position absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			margin: auto
		&__circle
			width: 37px 
			height 37px
			position absolute
			border-radius: 100%
			border: 5px solid $c-blue
			background: $c-white
			&:nth-child(1)
				left: 13px
				top: 67px
				& > div
					right: 63px
			&:nth-child(2)
				left: 40px
				top: 323px
				& > div
					right: 73px
			&:nth-child(3)
				left: 370px
				top: 252px
				& > div
					left: 54px
			& > div
				margin-top: 0px
				position absolute
				white-space: nowrap
				text-transform: uppercase
				font-size: 18px
				font-weight: 500
				color: #4d4d4d
		&__info
			width: 450px
			border: 2px solid $c-blue
			background: $c-white
			padding: 23px 30px 28px 30px
			position: absolute
			right: 4px
			transform: translateX(90%)
			top: -5px
			&--title
				font-size: 18px
				text-transform: uppercase
				font-weight: 500
				color: #4d4d4d
			&--text
				margin-top: 16px
				font-weight: 300
				font-size: 14px
				line-height: 1.7em

	.about-us-menu
		display flex
		justify-content: space-between
		margin-top: 40px
		padding-right: 19px
		& + .text
			margin-top: 45px
			& + .text 
				margin-top: 23px
		&__item
			width: calc(100%/ 4 - 13px)
			position relative
			a 
				position absolute
				width: 100%
				height: 100%
				left: 0
				top: 0
				z-index 1
			img 
				display block
				width: 100%
			&--text
				position absolute
				background: $c-blue
				padding: 16px 9px 16px 19px
				display inline-block
				color: $c-white
				text-transform: uppercase
				font-size: 16px
				font-weight: 500
				bottom: 18px
	

	.our-team
		&__header
			margin-top: 39px
			display: flex
			justify-content: space-between
			&--img
				min-width: 500px
				margin-right: 30px
				border: 2px solid #e8e8e8
				img
					width: 100%
					display: block
			&--title
				font-size: 16px
				font-weight: 500
				text-transform: uppercase
			&--descr
				margin-top: 10px
				font-size: 14px
			&--text
				margin-top: 19px
				font-size: 14px
				letter-spacing: 0
				line-height: 1.75em
				font-weight: 300
				padding-right: 10px
		&__label
			font-size: 18px
			text-transform: uppercase
			font-weight: 600
			margin: 54px 0 51px 0
			position: relative
			letter-spacing: -0.8px
			color: #363636
			&:after 
				content: ''
				background: #e8e8e8
				height: 1px
				width: 80%
				position: absolute
				left: 0
				top: 0
				bottom: 0
				margin: auto
			span
				background: $c-white
				position: relative
				z-index: 1
				padding-right: 20px
		&__list
			display: flex
			// flex-wrap: wrap
			padding-right: 20px
			justify-content: space-between
			& + .about-us-menu 
				margin-top: 96px
			&__item
				width: calc( 100% / 5 - 22px)
				img 
					margin-top: 15px
					width: 100%
					height: 258px
					object-fit: cover
					display: block
					border: 2px solid #e8e8e8
				&--title
					font-size: 16px
					font-weight: 600
					text-transform: uppercase
				&--descr
					margin-top: 11px
					font-size: 14px
					
	.quality-list
		margin-top: 24px
		
	.our-clients-list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-top: 30px
		padding-right: 20px
		& + .text
			margin-top: 40px
		&__item 
			width: calc( 100% / 4 - 15px)
			height: 206px;
			margin-bottom: 16px
			border: 2px solid #ececec
			position: relative
			&:hover
				& > div
					background: $c-blue
					opacity: 1
			img
				position: absolute
				left: 0
				right: 0
				top: 0
				bottom: 0
				margin: auto
			& > div
				opacity: 0
				padding: 20px
				position: relative
				transition: 0.1s
				height: 100%
				
			&--title
				text-transform: uppercase
				color: $c-white
				
			&--text
				margin-top: 20px
				color: $c-white
				font-size: 14px
				font-weight: 300
				line-height: 1.5em
				
	.btn--blue
		margin: auto
		display block