.btn 
    outline: none
    border: none
    padding: 5px
    cursor: pointer
    text-transform: uppercase
    font-weight: 600
    transition: 0.1s
    &:active
        transform: translateY(1px)

    &--blue
        padding: 18px 30px
        background: $c-blue 
        color: $c-white
        font-size: 16px
        width: 280px
        border: 1px solid transparent
        &:hover 
            background: none
            color: $c-blue 
            border: 1px solid $c-blue 
    &--order
        padding: 18px 30px
        background: none
        color: $c-white
        font-size: 16px
        width: 280px
        border: 1px solid $c-blue 
        &:hover 
            background: none
            color: $c-blue 
            border: 1px solid $c-blue 
    &--transparent
        padding: 12px 38px
        background: none
        color: $c-blue
        font-size: 14px
        font-weight: 400
        border: 1px solid $c-blue 
        &:hover 
            background: $c-blue
            color: $c-white 
            border: 1px solid $c-blue 
    &--buy
        padding: 10px 30px
        background: none
        color: $c-blue
        font-size: 16px
        font-weight:400
        border: 1px solid $c-blue 
        text-transform: none
        &:hover 
            background: $c-blue 
            color: $c-white 
            border: 1px solid $c-blue 
    &--compare
        padding: 10px 0px
        background: $c-blue 