.catalog-page 
	.bottom-block  {
		margin-top: 80px
	}
	.catalog
		padding-top: 40px
		display: flex
		justify-content: space-between
		&--descr 
			font-size: 16px
			color: #a9a9a9
			margin-top: 20px;
			line-height: 1.5em;
			font-weight: 300;
		&--title
			width: 100%
			font-size: 24px
			color: #666666
			font-weight: 500
			position: relative
			&:after 
				content: ''
				background: $c-blue
				height: 2px
				width: 60px
				position: absolute
				left: 0
				bottom: -14px
		&__filter
			display: block
			width: 300px
			&__section
				& + .catalog__filter__section
					margin-top: 30px
				&--title
					font-size: 16px
					text-transform: uppercase
					font-weight: 800
					margin:  0 0 20px 0
					position: relative
					color: #424242
					display: flex
					align-items: center
					cursor: pointer
					font-family: 'Open Sans', sans-serif
					&.active
						&:before
							transform: rotate(-135deg);
							-webkit-transform: rotate(-135deg);
							top: 2px
					&:before
						content: ''
						// left: 0
						margin-right: 7px
						border: solid black
						border-width: 0 1px 1px 0
						display: inline-block
						padding: 3px
						position: relative
						top: -2px
						// position: absolute
						transform: rotate(45deg)
						-webkit-transform: rotate(45deg)
						transition: 0.2s
				&__item
					height: 48px
					display: flex
					align-items: center
					border-bottom: 1px solid #e8e8e8
					cursor: pointer
					input
						width: 20px
					img 
						width: 25px
						margin: 0 10px
					span
						font-size: 14px
						font-weight: 500
				.checkbox
					display: flex
					& + .checkbox
						margin-top: 20px
		&__goods
			display: block
			width: calc(100% - 300px - 20px)
			&--title 
				font-size: 24px
				text-transform: uppercase
				position: relative
				color: #666666
				&:after
					content: ''
					background: $c-blue
					height: 2px
					width: 60px
					position: absolute
					left: 0
					bottom: -14px
			// &--descr
			// 	font-size: 16px
			// 	color: #a9a9a9
			// 	margin-top: 20px;
			&__sort
				margin-top: 30px;
				background: #f8f8f8
				padding: 15px 20px
				display: flex
				justify-content: space-between
				&__item
					display: flex
					align-items: center
					&--title
						font-size: 14px
						margin-right: 10px
						color: #a9a9a9
					&--value
						font-size: 14px
						color: $c-blue
						cursor: pointer
						text-decoration: underline
			&__bottom
				display: flex
				justify-content: space-between
				align-items: flex-start
				margin-top: 20px
				margin-bottom: 20px
			&__grid
				margin-top: 30px
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				&__item
					border: 1px solid #e8e8e8
					padding: 15px
					width: calc(100% / 4 - 20px)
					margin-bottom: 20px
					display: flex
					justify-content: space-between
					flex-wrap: wrap
					position: relative
					&--article
						display: inline-flex
						font-size: 12px
					&--favorite
						font-size: 12px
						display: inline-flex
						align-items: center
						cursor: pointer
						&:hover 
							text-decoration: underline
							img
								transform: scale(1.1)
						img
							width: 15px
							margin-left: 5px
					&--label
						background: #f14a3f
						padding: 6px 10px
						font-size: 16px
						position: absolute
						right: 10px
						top: 40px
						color: $c-white
					&--descr
						font-size: 14px
					&--title
						font-weight: 500
						margin-top: 5px
						font-size: 18px
					&--price, &--new-price
						width: 100%
						font-size: 20px
						font-weight: 600
						margin-top: 15px
	
						&.disabled
							font-size: 14px
							color: #a4a4a4
							font-weight: 400
							margin-top: 7px
							position: relative
							span
								position: relative
								&:after
									content: ''
									background: #f14a3f
									width: 96%
									height: 1px
									position: absolute
									left: 0
									top: 0
									bottom: 0
									margin: auto
					&--new-price
						color: #f14a3f
						margin-top: 7px
					&--img
						width: 80%
						display: block
						margin: auto
					&__buttons
						margin-top: 15px
						width: 100%
						display: flex
						justify-content: space-between
						a
							display: block
						.btn--buy 
							width: calc(100% - 50px - 10px)
						.btn--compare
							width: 50px
							display: flex
							justify-content: center
							align-items: center
							height: 100%
							&:hover
								img
									width: 17px
							img
								width: 15px
								transition: 0.1s
		
		.compare
			width: 100%

			&-list
				margin-top: 40px
				display: flex
				justify-content: space-between
				position: relative
				width: 100%
				&__scroller
					width: calc(100% - 360px)
					display: flex
					overflow-x: auto
				&__item
					border-right: 1px solid #d6d4d4
					padding: 10px 0px
					// width: 
					min-width: calc(100% / 4);
					&__top
						height: 160px
						padding: 0 30px 0 30px
						display: flex
						flex-wrap: wrap
						align-items: flex-start
						position: relative
						&--wrap
							width: calc(100% - 90px)
						img
							width: 80px
						&--descr
							font-size: 14px
						&--title
							font-size: 18px
							font-weight: 600
							margin-top: 4px
						&--add
							text-transform: uppercase
							font-size: 18px
							font-weight: 500
							position: absolute
							width: 200px
							display: flex
							align-items: center
							top: 0
							bottom: 0
							margin: auto
							right: 30px
							cursor: pointer
							&:hover
								i
									transform: scale(1.05)
							i 	
								transition: 0.1s
								min-width: 50px
								width: 50px
								height: 50px
								background: $c-blue
								display:  block
								margin-right: 10px
								border-radius: 100%
								position: relative
								display: flex
								justify-content: center
								align-items: center
								font-style: normal
								color: $c-white
								font-size: 38px
								&:after 
									content: '+'
									
						.btn
							margin-top: 10px
							width: 100%
					&--main
						display: block
						width: 24%
						min-width: 360px
						.compare-list__item__top 
							img
								opacity: 0.5
								width: 180px
							
						.compare-list__item--section
							padding: 0 10px
							font-weight: 500
					&--section
						height: 50px
						padding: 0 70px
						color: #424242
						margin: 20px  0
						display: flex
						align-items: center
						&:after
							content: ''
							left: 0
							content: ''
							position: absolute
							background: #e8e8e8
							width: 100%
							position: absolute
							// height: 100%
							height: 50px
							z-index: -1
							transition: 0.1s
							opacity: 0
							visibility: hidden
						&:hover 
							&:after
								opacity: 1
								visibility: visible
		
		.product-card
			.catalog__goods__grid  
				width: 100%
				&__item
					width: calc(100% / 5 - 20px);
					