footer 
	background: #1f1f1f
	height: 270px
	padding: 50px 0
	
	.container
		max-width: 100%
		display: flex
		color: #fff
		align-items: flex-start
		justify-content: space-between
		
	.left
		width: 35%
		display: flex
		
		ul 
			width: 50%
			display: inline-block
			vertical-align: top
			li
				margin: 5px 0;
				a
					font-weight: 300
					// line-height: 2em
					font-size: 14px
					&:hover
						text-decoration: underline
	.right
		width: 65%
		display: flex
		flex-wrap: wrap
		align-items: center
		justify-content: flex-end
	
	.menu
		display: flex
		margin-top: 30px
		li
			display: flex
			font-weight: 300
			// line-height: 2em
			font-size: 14px
			margin: 0 20px
			a
				&:hover
					text-decoration: underline
	
	.order
		background: #3b3b3b
		padding: 15px
		display: flex
		max-width: 700px
		align-items: center
		line-height: 1.5em
		margin-right: 30px
		.btn
			margin-left: 20px
	.logo 
		display: flex
		align-items: center

		img 
			width: 187px
			height: 38px
			&:after 
				content: ''
				height: 30px
				width: 1px
				backgound: #cccccc
		span
			font-size: 38px
			color: #0786ff
			font-family: 'Harlow'
			position: relative
			margin-left: 20px
			&:before
				content: ''
				background: #aaaaaa
				width: 1px
				height: 15px
				display: block
				position: absolute
				left: -10px	
				top: 0
				bottom: 0
				margin: auto
	
	.address
		margin-left: 30px
		font-weight: 300
		line-height: 2em
		font-size: 14px
		