header
	height: 145px 
	position relative
	background: #fff

	
	&:before
		content: ""
		width: 100%
		left: 0
		position: absolute
		height: 10px
		bottom: 0
		z-index: -1
		box-shadow: 0 0 7px -3px #666
	nav
		@media mqBigMobile
			display: none
		ul
			display: flex
			li
				margin: 0 6px
				&.active, &:hover
					a:after 
						display block

				a
					display: block
					padding: 29px 20px 31px
					font-size: 14px
					color: #1f1f1f
					letter-spacing: 0.5px
					position: relative
					&:after 
						content: ''
						display none
						position absolute
						z-index: 2
						bottom: -1px
						height: 2px
						width: 100%
						left: 0
						background: #0786ff
					@media mqSmallDesktop
						padding: 30px 5px 31px
					@media mqMidTablet
						font-size: 12px
						padding: 30px 2px 33px

	.logo 
		display: flex
		align-items: center
		@media mqBigMobile
			display: none
		img 
			width: 187px
			height: 38px
			object-fit: contain
			@media mqBigTablet
				width: 140px
			@media mqMidTablet
				width: 120px
			@media mqSmallTablet
				width: 100px
			&:after 
				content: ''
				height: 30px
				width: 1px
				backgound: #cccccc
		span
			font-size: 38px
			color: #0786ff
			font-family: 'Harlow'
			position: relative
			margin-left: 20px
			@media mqBigTablet
				font-size: 32px
			@media mqMidTablet
				// font-size: 28px
				display: none
			@media mqSmallTablet
				// font-size: 24px
			&:before
				content: ''
				background: #aaaaaa
				width: 1px
				height: 15px
				display: block
				position: absolute
				left: -10px	
				top: 0
				bottom: 0
				margin: auto
				
		
	.container
		display: flex
		justify-content: space-between
		align-items:center
		height: 100%
		max-width: 100%
		& > div 
			height: 100%
			display: flex
			align-items: center
			&:first-child {}
				
			&:last-child {
				// justify-content: flex-end
			}

	.top-header
		
		padding: 10px 0
		height: 80px
		.container
			display: flex
			justify-content: space-between
			align-items:center
			padding: 0 64px 0 32px
			@media mqBigMobile
				padding: 0 30px 0 20px
		.language
			margin-left: 60px
			position: relative
			width: 30px
			margin-top: -2px
			@media mqSmallDesktop
				margin-left: 25px
			&.active
				.language__value
					&:after
						top: 3px
						transform: rotate(225deg)
						-webkit-transform: rotate(225deg)
				.language__list
					opacity: 1
					visibility: visible
			&__value
				text-align: right
				font-size: 14px
				cursor pointer
				color: #1f1f1f
				@media mqMidTablet
					font-size: 12px
				@media mqBigMobile
					font-size: 14px
				&:after
					content: ''
					margin-right: 7px
					border: solid #1f1f1f
					border-width: 0 1px 1px 0
					display: inline-block
					padding: 2px
					position: absolute
					right: -13px
					bottom: 0
					top: -3px
					margin: auto
					width: 0
					height: 0
					transform: rotate(45deg)
					-webkit-transform: rotate(45deg)
					transition: 0.2s
			&__list
				width: 100px
				background: $c-white
				position: absolute
				opacity: 0
				visibility: hidden
				z-index: 6
				box-shadow: 0 3px 14px -8px #000
				right: -18px
				transition: 0.1s
				&--item
					padding: 5px 10px
					font-size: 14px
					color: #1f1f1f
					cursor: pointer
					@media mqMidTablet
						font-size: 12px
					&:hover
						background: #e8e8e8
	.sub-header 
		
		border-top: 1px solid #f3f3f3
		height: 65px
		position relative
		z-index: 4
		
		.container
			padding: 0 51px 0 0px
			
		&__menu-item 
			display: block
			color: #363636
			font-size: 14px
			padding: 20px 32px
			text-transform: uppercase
			letter-spacing: 0.5px
			font-weight: 600
			@media mqBigMobile
				display: none
				
			&:first-child
				@media mqMidTablet
					margin-left: 30px
			@media mqMidTablet
				padding: 20px 10px
				font-size: 12px
			&[data-type="products"]:hover
				& ~ .additional-menu[data-menu="products"]
					visibility: visible
					opacity: 1
			&[data-type="solutions"]:hover
				& ~ .additional-menu[data-menu="solutions"]
					visibility: visible
					opacity: 1
		.sign-in
			display: flex
			align-items: center
			margin-right: 17px
			height: 100%
			cursor: pointer
			font-size: 14px
			position: relative
			&:after
				content: ''
				width: 1px
				height: 20px
				top: 0
				background: #ccc
				bottom: 0
				margin: auto
				position: absolute
				right: -12px
			img 
				width: 25px
				margin-right: 13px
				
		.search-input
			height: 100%
			display: flex
			align-items: center
			justify-content: flex-end
			position: relative
			margin-right: 26 px
			&:after
				content: ''
				width: 1px
				height: 20px
				top: 0
				background: #ccc
				bottom: 0
				margin: auto
				position: absolute
				right: -30px
			&.active
				margin-left: 30px
				input
					width: 250px
					padding: 0px 0px
					
			input 
				height: 30px
				border: none
				border-bottom: 1px solid #ccc
				margin-right: 20px
				width: 0
				transition: 0.3s width
				
			&__img
				width: 23px
				cursor: pointer

		.favorites 
			height: 100%
			width: 85px
			display flex
			align-items: center
			justify-content: center
			img
				width: 27px

		.cart 
			height: 100%
			width: 93px
			display flex
			align-items: center
			justify-content: center
			background: #e8e8e8
			position: relative
			cursor: pointer
			@media mqBigMobile
				width: 60px
			&:hover
				background: darken(#e8e8e8, 10%)
			img
				width: 26px
				position: relative
				left: -6px
			&--value
				// font-family: 'PT Sans', sans-serif
				position: absolute
				background: $c-blue
				font-size: 11px
				color: $c-white
				border-radius: 100%
				width: 18px
				display: flex
				font-weight: 300
				align-items: center
				justify-content: center
				height: 18px
				left: 50px
				top: 15px
				line-height: 1.6em
				@media mqBigMobile
					display: none

		.socials
			display: flex
			position absolute
			right: 202px
			z-index: 1
			@media mqBigMobile
				right: 20px
			@media mqMidMobile
				flex-wrap: wrap
				width: 36px
				right: 0
			&__item 
				padding: 11px
				background: $c-blue 
				margin: 0 0px 0 9px
				transition: 0.1s
				@media mqMidMobile
					margin: 0
					margin-bottom: 4px
				&:hover 
					background: darken($c-blue, 10%)
				img
					display block
					width: 14px
				
	.additional-menu
		position: absolute
		width: 100%
		background: $c-white
		top: 64px
		left: 0
		border-bottom: 2px solid $c-border-red
		z-index: 1
		opacity: 0
		visibility: hidden
		display: flex
		justify-content: space-between
		transition: 0.1s
		overflow: hidden
		
		&[data-menu=solutions]
			padding: 42px 33px 30px 50px
		&[data-menu=products]
			padding: 68px 50px 30px 41px
		&:hover 
			visibility: visible
			opacity: 1
		&:before 
			content: ''
			width: 100%
			height: 0px
			box-shadow: 0 3px 3px 0px #000
			position: absolute
			top: 0
			left: 0
		&:after
			content: ''
			width: 100%
			height: 20px
			position: absolute
			left: 0
			top: -20px
		&__products-list
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			width: 67%
			align-content: space-between
			&__item
				width: calc(100%/6 - 20px)
				min-height: 150px
				&:hover
					img
						transform: scale(1.05)
				img 
					width: 50px
					display: block
					margin: auto
					transition: 0.1s
				span
					font-size: 14px
					width: 100%
					display: block
					margin: 19px auto 0
					text-align: center
		&__sections
			width: calc(33% - 60px)
			padding-right: 150px
			margin-top: -6px
			&__item
				display: block
				padding: 18px 34px 16px 34px
				text-transform: uppercase
				margin-bottom: 2px
				color: $c-white
				font-size: 14px
				position: relative
				svg 
					top: 0
					bottom: 0
					right: 17px
					margin: auto
					fill: $c-white
					width: 18px
					position: absolute
					height: 18px
				&:hover
					background: $c-blue!important
				&:last-child
					background: $c-blue
					text-align: center
					font-weight: 500
		&__solutions-list
			display: flex
			justify-content: space-between
			width: 100%
			&__item
				width: calc(100%/5 - 20px)
				&:hover
					img
						// transform: scale(1.02)
						filter: grayscale(0%)
				img 
					width: 100%
					display: block
					margin: auto
					border: 1px solid $c-border-red
					transition: 0.1s
					filter: grayscale(100%)
				span
					font-size: 14px
					width: 83%
					display: block
					margin: 22px auto 0
					text-align: center
					text-transform:uppercase
					font-weight: 500