header
	height: 145px 
	position relative
	background: #fff
	&:before
		content: ""
		width: 100%
		left: 0
		position: absolute
		height: 10px
		bottom: 0;
		z-index: -1;
		box-shadow: 0 0 7px -3px #666;
	nav
		ul
			display: flex
			li
				&.active, &:hover
					a
						span:after 
							display block

							
				a
					display: block
					padding: 30px 20px
					font-size: 16px
				
					span 
						position relative
						&:after 
							content: ''
							display none
							position absolute
							z-index: 2
							bottom: -29px
							height: 2px
							width: 100%
							left: 0
							background: #0786ff
	.logo 
		display: flex
		align-items: center

		img 
			width: 187px
			height: 38px
			&:after 
				content: ''
				height: 30px
				width: 1px
				backgound: #cccccc
		span
			font-size: 38px
			color: #0786ff
			font-family: 'Harlow'
			position: relative
			margin-left: 20px
			&:before
				content: ''
				background: #aaaaaa
				width: 1px
				height: 15px
				display: block
				position: absolute
				left: -10px	
				top: 0
				bottom: 0
				margin: auto
				
		
	.container
		display: flex
		justify-content: space-between
		align-items:center
		height: 100%
		max-width: 100%
		& > div 
			height: 100%;
			display: flex;
			align-items: center;
			&:first-child {}
				
			&:last-child {
				// justify-content: flex-end
			}

	.top-header
		
		padding: 10px 0
		height: 75px
		.container
			display: flex
			justify-content: space-between
			align-items:center
		.language
			margin-left: 60px
			&__value
				cursor pointer
			
	.sub-header 
		
		border-top: 1px solid #f3f3f3
		height: 70px
		position relative
		z-index: 4
		// ul 
		// 	display: flex
		// 	margin-left: -36px
		// 	li
		&__menu-item 
			display: block;
			color: #363636
			font-size: 14px
			padding: 20px 36px
			text-transform: uppercase
			font-weight: 600
			&[data-type="products"]:hover
				& ~ .additional-menu[data-menu="products"]
					visibility: visible
					opacity: 1
			&[data-type="solutions"]:hover
				& ~ .additional-menu[data-menu="solutions"]
					visibility: visible
					opacity: 1
		.sign-in
			display: flex
			align-items: center
			margin-right: 30px
			height: 100%
			cursor: pointer
			img 
				width: 30px
				margin-right: 10px
				
		.search-input
			height: 100%
			display: flex
			align-items: center
			justify-content: flex-end;
			&.active
				input
					width: 250px
					padding: 0px 10px
					
			input 
				height: 40px
				border: none
				border-bottom: 1px solid #ccc
				margin-right: 20px
				width: 0
				transition: 0.3s width
				
			&__img
				width: 23px
				cursor: pointer

		.favorites 
			height: 100%
			width: 100px
			display flex
			align-items: center
			justify-content: center
			img
				width: 30px

		.cart 
			height: 100%
			width: 100px
			display flex
			align-items: center
			justify-content: center
			background: #e8e8e8
			img
				width: 30px

		.socials
			display: flex
			position absolute
			right: 200px
			z-index: 1
			&__item 
				padding: 12px
				background: $c-blue 
				margin: 0 5px
				transition: 0.1s
				&:hover 
					background: darken($c-blue, 10%)
				img
					display block
					width: 14px
				
	.additional-menu
		position: absolute
		width: 100%
		background: $c-white
		top: 69px
		left: 0
		border-bottom: 2px solid $c-border-red
		padding: 50px 50px
		z-index: 1
		opacity: 0
		visibility: hidden
		display: flex
		transition: 0.1s
		&:hover 
			visibility: visible
			opacity: 1
		&:before 
			content: ''
			width: 100%
			height: 0px
			box-shadow: 0 3px 3px 0px #000
			position: absolute
			top: 0
			left: 0
		&:after
			content: ''
			width: 100%
			height: 20px
			position: absolute
			left: 0
			top: -20px
		&__products-list
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			width: 80%;
			&__item
				width: calc(100%/6 - 20px)
				margin-bottom: 30px
				&:hover
					img
						transform: scale(1.05)
				img 
					width: 50px
					display: block
					margin: auto
					transition: 0.1s
				span
					font-size: 14px
					width: 83%
					display: block
					margin: 20px auto 0
					text-align: center
		&__sections
			&__item
				display: block
				padding: 20px
				text-transform: uppercase
				margin-bottom: 1px
				color: $c-white
				&:hover
					background: $c-blue!important
				&:last-child
					background: $c-blue
		&__solutions-list
			display: flex
			justify-content: space-between
			width: 100%
			&__item
				width: calc(100%/5 - 20px)
				&:hover
					img
						// transform: scale(1.02)
						filter: grayscale(0%)
				img 
					width: 100%
					display: block
					margin: auto
					border: 1px solid $c-border-red
					transition: 0.1s
					filter: grayscale(100%)
				span
					font-size: 14px
					width: 83%
					display: block
					margin: 20px auto 0
					text-align: center
					text-transform:uppercase
					font-weight: 500