.home-page 
	padding-top: 0
	.main-slider
		position: relative
		height: calc(100vh - 145px)
		&__slide
			height: 100%
			width: 100%
			position: absolute
			left: 0
			top: 0
			&:nth-child(1)
				background: red
				left: -240px
				z-index: 3
			&:nth-child(2)
				left: -120px
				background: green
				z-index: 2
			&:nth-child(3)
				z-index: 1
				left: 0
				background: blue
	.text-block	
		position: relative
		margin: 0 200px
		&:after
			content: ''
			position: absolute
			left: -30px
			top: 0
			width: 5px;
			height: 100%
			background: #d24a43;

		&--title
			font-size: 30px
			font-weight: 500
			width: 700px
		&--descr 
			font-size: 14px
			line-height: 1.6em
			margin-top: 20px
	.grid
		display: flex
		justify-content: space-between
		height: 840px
		margin-top: 50px
		& + .bottom-block 
			margin-top: 80px
		& > div
			height: 100%
			width: calc(50% - 10px)
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			align-content: space-between;
		&__item
			position: relative
			img
				width: 100%
				height: 100%
				display: block
				object-fit: cover;
			&.grid-2-1 
				width: 100%
				height: 100%
			&.grid-4-4
				width: calc(50% - 10px)
				height: calc(50% - 10px)
			&.grid-2-4
				width: 100%
				height: calc(50% - 10px)
			&--text 
				position absolute
				background: $c-blue
				padding: 16px 20px
				display inline-block
				color: $c-white
				text-transform: uppercase
				font-size: 16px
				font-weight: 500
				bottom: 45px
				