@import 'reset.css'
@import 'variables.styl'
@import 'mixins.styl'
@import 'controls.styl'
@import 'header.styl'
@import 'footer.styl'
@import 'button.styl'
@import 'home.styl'
@import 'about.styl'
@import 'catalog.styl'
@import 'modal.styl'
@import 'magnify.css'

body 
	font-family: 'Roboto', sans-serif
	color: #1f1f1f
input, button 
	font-family: 'Roboto', sans-serif
	

main 
	min-height: calc(100% - 145px - 270px)
	padding-top: 34px
	position: relative
	overflow: hidden
	@media mqBigMobile
		padding-top: 20px
	&:after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		box-shadow: 0 0 5px 1px #666
		height: 0px
		z-index: 4
	
.container 
	max-width: 1620px
	margin: auto
	padding: 0 40px
	@media mqBigMobile
		padding: 0 20px

.breadcrumbs
	&__item
		font-size: 14px
		// color: #fff
		letter-spacing: .2px
		display: inline-block
		color: #0786ff
		a {
			color: #878787
			text-decoration: underline
		}
		& + .breadcrumbs__item 
			&:before 
				content: '|'
				margin: 0 5px


.bottom-block
	padding: 39px 0 41px 0
	margin-top: 50px
	background: #fafafa
	position relative
	overflow: hidden
	@media mqBigTablet
		padding: 30px 30px
	@media mqBigMobile
		padding: 30px 30px
	@media mqSmallMobile
		padding: 20px
	.container 
		max-width: 1435px
		position relative
		align-items: center
		& > div
			@media mqBigMobile
				width: 100%
		&:after 
			content: ''
			width: 5px
			height: 86%
			left: 14px
			top: 9px
			background: #f14a3f
			position: absolute
			background: $c-border-red
			z-index: 1
			@media mqBigMobile
				left: 0
				width: 4px
	& > div
		display: flex 
		@media mqBigMobile
			flex-wrap: wrap
	.btn 
		z-index: 1
		position: relative
		@media mqBigMobile
			margin-top: 20px
			width: auto
			padding: 16px 40px
		@media mqSmallMobile
			padding: 13px 30px
	&__title 
		font-size: 36px
		text-transform: uppercase
		font-weight: 600
		position relative
		z-index: 1
		@media mqSmallTablet
			font-size: 32px
		@media mqBigMobile
			font-size: 26px
			width: 100%
		@media mqSmallMobile
			font-size: 22px
	&__text
		margin-top: 23px
		font-size: 16px
		position: relative
		z-index: 1
		line-height: 1.5em
		@media mqSmallMobile
			font-size: 14px
	&__bg-text 
		font-size: 212px
		position: absolute
		color: #f5f5f5
		font-family: 'Harlow'
		z-index: 0
		right: 20px
		top: 0
		line-height: 1em
		@media mqBigTablet
			font-size: 170px
			bottom: 0
			top: 0
			margin: auto
			height: 100px
		@media mqSmallTablet
			font-size: 140px
		@media mqBigMobile
			font-size: 100px
		@media mqMidMobile
			font-size: 70px
		@media mqSmallMobile
			font-size: 60px
		

.quality-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	&[data-animate="true"]
		.quality-list__item
			&:nth-child(odd) 
				animation: 1s slideinRight ease-in-out
				animation-fill-mode: both
			&:nth-child(even) 
				animation: 1s slideinLeft ease-in-out
				animation-fill-mode: both
			for row in 1 2 3 4 5 6 7 8
				&:nth-child({row})
					animation-delay: 0.3s * row
	&__item
		position: relative
		width: calc( 100% / 2 - 120px)
		margin-left: 90px
		margin-bottom: 35px
		border-top: 1px solid #ccc
		padding-top: 43px
		opacity: 0
		visibility: hidden
		

				
		@media mqBigMobile
			width: 100%
		@media mqMidMobile
			padding-top: 25px
			margin: 0 0 10px 0
			text-align: center
		&:nth-child(1), &:nth-child(2) 
			border: none
		img 
			position: absolute
			width: 66px
			left: -88px
			top: 41px
			@media mqMidMobile
				display: block
				margin: 0 auto 20px
				position: static
				width: 55px
			
		&--title
			// text-transform: uppercase
			color: #4f4f4f
			font-weight: 600
			letter-spacing: 0.3px
			
		&--text
			margin-top: 16px
			color: #4f4f4f
			font-size: 14px
			font-weight: 300
			line-height: 1.6em

@font-face 
	font-family: 'Harlow'
	src url('./Harlow.ttf')
	font-style: normal



@keyframes slideinRight {
	from {
		transform: translateX(100%)
		opacity: 0
		visibility: hidden
	}

	to {
		transform: translateX(0)
		opacity: 1
		visibility: visible
	}
}

	
@keyframes slideinLeft {
	from {
		transform: translateX(-100%)
		opacity: 0
		visibility: hidden
	}

	to {
		transform: translateX(0)
		opacity: 1
		visibility: visible
	}
}