extends ../layout.pug

block content
	.example-wrapper#slider
		.example-slider
			img(src="img/example-bg.png", alt="")
			img(src="img/example-bg.png", alt="")
			img(src="img/example-bg.png", alt="")
			img(src="img/example-bg.png", alt="")

		.example-label
			.example-label--title Фитнес зал «Билдер»
			.example-label--text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

	include ../parts/bottom-block.pug