extends ../layout.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="") Главная
			li(class="breadcrumbs__item") Примеры работ

		.title Примеры работ

		.examples__list
			.examples__list__item
				.examples__list__item--img
					a(href="examples.html" style="background: url(img/example-1.png)")
			.examples__list__item.has-children
				.examples__list__item--img
					a(href="examples.html" style="background: url(img/example-1-small.png)")
					a(href="examples.html" style="background: url(img/example-2-small.png)")
					a(href="examples.html" style="background: url(img/example-3-small.png)")
					a(href="examples.html" style="background: url(img/example-4-small.png)")
			.examples__list__item
				.examples__list__item--img
					a(href="examples.html" style="background: url(img/example-1.png)")
			.examples__list__item.has-children
				.examples__list__item--img
					a(href="examples.html" style="background: url(img/example-5-small.png)")
					a(href="examples.html" style="background: url(img/example-6-small.png)")
					a(href="examples.html" style="background: url(img/example-7-small.png)")
					a(href="examples.html" style="background: url(img/example-8-small.png)")
			.examples__list__item
				.examples__list__item--img
					//- img(src="img/example-3.png", alt="")
					a(href="examples.html" style="background: url(img/example-3.png)")
			.examples__list__item.has-children
				.examples__list__item--img
					a(href="examples.html" style="background: url(img/example-9-small.png)")
					a(href="examples.html" style="background: url(img/example-10-small.png)")
					a(href="examples.html" style="background: url(img/example-11-small.png)")
					a(href="examples.html" style="background: url(img/example-12-small.png)")

	include ../parts/bottom-block.pug