extends ../layout.pug

block content
	.container
		.text-block 
			.text-block--title ПОЧЕМУ МЫ ВЕДИМ ИСПОЛЬЗУЕМУЮ ПРОМЫШЛЕННОСТЬ ДЛЯ ОБОРУДОВАНИЯ
			.text-block--descr Global Fitness - одно из самых уважаемых имен в отрасли, специализирующееся на высококачественном подержанном фитнес-оборудовании. На протяжении более 20 лет мы являемся пионерами инноваций, меняя способ, которым владельцы тренажерных залов рассматривают свой запас оборудования, нарушая традиционную модель. Предлагая ценные продукты и отличный сервис, мы продолжаем расширять свою рыночную долю, никогда не улаживая и постоянно оспаривая статус-кво. Мы любим наших клиентов и завидуем конкурентам, мы гордимся нашим упреждающим и новым подходом - подходом, который позволяет нам предлагать «как новый» продукт, который начинается с момента зачатия и продолжается в точках продаж, обслуживания и за его пределами. Если вы ищете превосходное бывшее в употреблении оборудование для тренировок по разумной цене, ищите не дальше, чем Global Fitness.
		
	.grid
		div
			.grid__item.grid-2-1
				//- a(href="")
				img(src="img/doneforbuisness.png", alt="")
				.grid__item--text Готовые решния для бизнеса
		div
			.grid__item.grid-4-4
				img(src="img/cardiozone.png", alt="")
				.grid__item--text кардио зона
			.grid__item.grid-4-4
				img(src="img/training.png", alt="")
				.grid__item--text тренажеры
			.grid__item.grid-2-4
				img(src="img/freeweight.png", alt="")
				.grid__item--text Свободные веса

	include ../parts/bottom-block.pug