extends ../layout.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="") Главная
			li(class="breadcrumbs__item") Лизинг

		.title Лизинг

	include ../parts/bottom-block.pug