extends ../layout.pug
include ../mixins/about-list.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="") Главная
			li(class="breadcrumbs__item") Наши клиенты

		.title Наша компания
		.subtitle Наши клиенты
		.text Global Fitness - мировой лидер в индустрии восстановленных и бывших в употреблении фитнес-оборудования. На протяжении более 20 лет мы постоянно являемся первопроходцами в инновациях, меняя взгляды владельцев и менеджеров на свое оборудование и нарушая традиционную модель. Превосходя высочайший уровень качества и контроля, Global Fitness продолжает расти и развивать свой сегмент рынка, никогда не осваивая и не претворяя в жизнь идеи на новых высотах. 

		.our-clients-list
			each val in [1, 2, 3, 4, 5, 6, 7, 8]
				.our-clients-list__item
					img(src="img/pulse.png", alt="")
					div
						.our-clients-list__item--title Pulse
						.our-clients-list__item--text Превосходя высочайший уровень качества и контроля, Global Fitness продолжает расти и развивать свой сегмент рынка, никогда не осваивая и не претворяя в жизнь идеи на новых высотах. 

		.text Таким образом сложившаяся структура организации представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.

		.text С другой стороны укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития.
		
		+about-list([{name: 'О компании', url: 'about.html', img: 'img/about-us-1.png'}, {name: 'Наша команда', url: 'our-team.html', img: 'img/about-us-1.png'}, {name: 'Качество оборудования', url: 'quality.html', img: 'img/about-us-2.png'}, {name: 'Принципы работы', url: 'principles.html', img: 'img/about-us-4.png'}])
		
	include ../parts/bottom-block.pug