extends ../layout.pug

block content
	.container
		ul(class="breadcrumbs")
			li(class="breadcrumbs__item")
				a(href="/") Главная
			li(class="breadcrumbs__item") Качество оборудования

		.title Наша компания
		.subtitle Качество оборудования
		.text Global Fitness - мировой лидер в индустрии восстановленных и бывших в употреблении фитнес-оборудования. На протяжении более 20 лет мы постоянно являемся первопроходцами в инновациях, меняя взгляды владельцев и менеджеров на свое оборудование и нарушая традиционную модель. Превосходя высочайший уровень качества и контроля, Global Fitness продолжает расти и развивать свой сегмент рынка, никогда не осваивая и не претворяя в жизнь идеи на новых высотах. 

		.quality-list
			.quality-list__item
				img(src="img/award.svg", alt="")
				.quality-list__item--title Сертифицированный (Восстановленный)
				.quality-list__item--text Все наши сертифицированные подержанные эллиптические тренажеры прошли инспекцию в 42 пункта. Наши машины тщательно протестированы, профессионально детализированы и упакованы. Этот процесс документируется с помощью изображений и видео и передается покупателю перед отправкой. Наши сертифицированные операционные фитнес-продукты действительно находятся в собственной лиге.
			.quality-list__item
				img(src="img/six-pack.svg", alt="")
				.quality-list__item--title Пластмассы и кожухи
				.quality-list__item--text Несмотря на незначительные дефекты, кожухи двигателя и другие пластиковые защитные элементы имеют решающее значение для непрерывной работы наших подержанных эллиптических и поперечных тренажеров. Поэтому, после прохождения процесса проверки, только те машины, которые продемонстрировали требуемую целостность, становятся доступными для нашей базы постоянных клиентов.
			.quality-list__item
				img(src="img/chip.svg", alt="")
				.quality-list__item--title Электроника
				.quality-list__item--text В GFI мы понимаем, что различные электронные функции фитнес-продукта позволяют пользователям оставаться на связи со своими тренировочными целями. В связи с этим все электронные платы и соединения в нашем перечне подержанных эллиптических машин проходят предварительные испытания, чтобы гарантировать, что они соответствуют и превосходят наши строгие стандарты испытаний.
			.quality-list__item
				img(src="img/bracket.svg", alt="")
				.quality-list__item--title Состояние рамы
				.quality-list__item--text В Global Fitness состояние рамы и других конструктивных элементов - это то, что дает нашим бывшим в употреблении эллиптическим машинам одни из самых высоких оценок в отрасли за поддержку и спокойствие. Мы достигаем этой цели посредством глубокого тестирования и проверки, выполняемой высококвалифицированными инженерами по продукции.
			.quality-list__item
				img(src="img/chain.svg", alt="")
				.quality-list__item--title Консоли и накладки
				.quality-list__item--text Эта часть представляет собой прямое подключение пользователя к машине и является первоначальным способом, которым пользователь может отличить машину от новой. Мы выбираем только лучшие машины с чистыми накладками, обеспечивая надежность, долговечность и безупречные машины, которые прослужат долгие годы
			.quality-list__item
				img(src="img/shield.svg", alt="")
				.quality-list__item--title Отличительные знаки и эмблемы
				.quality-list__item--text Мы гарантируем, что даже самым маленьким деталям уделяется внимание, однако, покупка подержанной машины имеет некоторые недостатки, эмблемы и отличительные знаки не заменяются на подержанных машинах, если это не учебный плакат, который не может быть прочитан или предупреждающий ярлык.
			.quality-list__item
				img(src="img/cogwheels.svg", alt="")
				.quality-list__item--title Механические втулки и подшипники
				.quality-list__item--text Мы выбираем только лучшие AMT и детали из нашего огромного инвентаря, чтобы обеспечить только лучшее качество. Все генераторы переменного тока, генераторы и детали проходят 10-точечную проверку и работают в течение 24 часов с диагностическим оборудованием для проверки их целостности. Аккумуляторы заряжаются или заменяются.
			.quality-list__item
				img(src="img/seat-belt.svg", alt="")
				.quality-list__item--title Ремни безопасности
				.quality-list__item--text Мы тщательно отбираем все машины, которые будут продаваться в подержанной категории, при этом ремни и узлы не являются исключением. Эти важные детали имеют значение с точки зрения долговечности и надежности. Мы выбираем только блоки с приемлемыми деталями, обеспечивая простоту использования и продленный срок службы.

		include ../parts/about-list.pug

		.text Таким образом сложившаяся структура организации представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что консультация с широким активом требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт рамки и место обучения кадров позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. Товарищи! рамки и место обучения кадров способствует подготовки и реализации дальнейших направлений развития.

		.text С другой стороны укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития. Не следует, однако забывать, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Товарищи! сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития.

	include ../parts/bottom-block.pug