$leftWidth = 283px
.catalog-page 
	.title
		margin-top: 0
	.bottom-block
		margin-top: 80px
		@media mqBigMobile
			margin-top: 40px
.catalog
		padding-top: 43px
		display: flex
		padding-right: 20px
		justify-content: space-between
		@media mqBigTablet
			padding-top: 30px
		@media mqSmallTablet
			padding-right: 0
		& ~ .catalog--descr
			padding-left: 65px
			@media mqSmallTablet
				padding-left: 0
		&--descr 
			font-size: 14px
			color: #a9a9a9
			margin-top: 20px
			line-height: 1.65em
			letter-spacing: 0.8px
			font-weight: 300
			
		&--title
			width: 100%
			font-size: 24px
			color: #666666
			font-weight: 500
			position: relative
			@media mqBigTablet
				font-size: 22px
			@media mqSmallTablet
				font-size: 20px
			&:after 
				content: ''
				background: $c-blue
				height: 2px
				width: 50px
				position: absolute
				left: 0
				bottom: -20px
				@media mqSmallTablet
					bottom: -12px
		&__filter-switcher
			margin-top: 20px
			display: none
			font-size: 14px
			padding: 10px
			width: 150px
			text-align: center
			@media mqSmallTablet
				display: block
			@media mqMidMobile
				margin: 20px auto 0
		&__filter
			display: block
			width: $leftWidth
			
			&.active
				opacity: 1
				transform: translateX(0%)
			@media mqSmallTablet
				position: fixed
				left: 0
				background: $c-white
				z-index: 5
				padding: 20px
				box-shadow: 0 0 20px -5px #ccc
				transform: translateX(-100%)
				opacity: 0
				transition: 0.2s
				width: $leftWidth + 50px
				top: 0
				height: 100%
				overflow-y: auto
			&--close
				position: absolute
				display: none
				cursor: pointer
				right: 20px
				top: 20px
				z-index: 5
				@media mqMidMobile
					display: block
			&__section
				position: relative
				&:not(.no--border):after
					content: ''
					border-bottom: 1px solid #e8e8e8
					position: absolute
					bottom: -15px
					width: 100%
					
				& + .catalog__filter__section
					margin-top: 32px
				&--title
					font-size: 16px
					text-transform: uppercase
					font-weight: 800
					margin:  0 0 10px 0
					position: relative
					color: #424242
					display: flex
					align-items: center
					cursor: pointer
					font-family: 'Open Sans', sans-serif
					&.active
						&:before
							transform: rotate(-135deg)
							-webkit-transform: rotate(-135deg)
							top: 2px
					&:before
						content: ''
						// left: 0
						margin-right: 7px
						border: solid black
						border-width: 0 1px 1px 0
						display: inline-block
						padding: 3px
						position: relative
						top: -2px
						// position: absolute
						transform: rotate(45deg)
						-webkit-transform: rotate(45deg)
						transition: 0.2s
				&__item
					height: 52px
					display: flex
					align-items: center
					border-bottom: 1px solid #e8e8e8
					cursor: pointer
					padding: 0 6px
					input
						width: 20px
					img 
						width: 25px
						margin: 0 17px 0 10px
					span
						font-size: 14px
						font-weight: 500
						letter-spacing: 0.6px
				.checkbox
					display: flex
					& + .checkbox
						margin-top: 9px
			&__content
				& > .checkbox
					// height: 22px
					padding-left: 15px
		&__goods
			display: block
			width: "calc(100% - %s - 24px)" % $leftWidth
			@media mqSmallTablet
				width: 100%
			&--title 
				font-size: 24px
				// text-transform: uppercase
				position: relative
				color: #666666
				letter-spacing: 1.5px
				@media mqBigTablet
					font-size: 20px
				@media mqMidMobile
					font-size: 18px
				&:after
					content: ''
					background: $c-blue
					height: 2px
					width: 49px
					position: absolute
					left: 0
					bottom: -20px
				& + .catalog--descr
					margin-top: 44px
			&__sort
				margin-top: 19px
				background: #f8f8f8
				padding: 12px 67px 5px 13px
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				@media mqMidMobile
					padding-right: 13px
				& > div
					@media mqSmallTablet
						width: 100%
				&__item
					display: flex
					align-items: center
					position: relative
					margin-right: 10px
					margin-bottom: 5px
					@media mqSmallTablet
						position: relative
						display: inline-flex
	
					&:last-child
						margin-right: 0
					&.active
						.catalog__goods__sort__item__dropdown
							display: block
			
					&--title
						font-size: 14px
						margin-right: 5px
						color: #a9a9a9
						letter-spacing: 0.6px
						@media mqSmallTablet
							width: 160px
					&--value
						font-size: 14px
						color: $c-blue
						cursor: pointer
						text-decoration: underline
						position: relative
						letter-spacing: 0.6px
					&__dropdown
						position: absolute
						width: 200px
						background: $c-white
						display: none
						right: 0
						top: 100%
						z-index: 1
						box-shadow: 0 0 14px -10px #000
						@media mqMidMobile
							left: 0
						&--item
							padding: 10px 10px
							font-size: 13px
							color: #a9a9a9
							&:hover
								background: #f8f8f8
			&__bottom
				display: flex
				justify-content: space-between
				align-items: flex-start
				margin-top: 25px
				margin-bottom: 20px
				@media mqBigMobile
					flex-wrap: wrap
					justify-content: center
				.btn--transparent
					letter-spacing: 0.4px
					padding: 12px 38px
					@media mqBigMobile
						margin-top: 0px
				.pagination 
					margin-left: -3px
					@media mqBigMobile
						width: 100%
						justify-content: center
						order: 1;
						margin-top: 25px
			&__grid
				margin-top: 23px
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				position: relative
				&__arrows
					position: absolute
					right: 0
					top: -50px
					&--left, &--right
						cursor: pointer
						content: ''
						border: solid $c-blue
						border-width: 0 1px 1px 0
						display: inline-block
						padding: 4px
						width: 0
						height: 0
						transition: 0.1s
						position: relative
						margin: 0 4px
						&:after
							content: ''
							position: absolute
							width: calc(100% + 10px)
							height: calc(100% + 10px)
							left: -5px
							top: -5px
							pointer-events: auto
					&--left
						transform: rotate(135deg)
						&:hover
							transform: rotate(135deg) scale(1.2)
					&--right
						transform: rotate(-45deg)
						&:hover
							transform: rotate(-45deg) scale(1.2)
				&__item
					border: 1px solid #e8e8e8
					padding: 19px 12px 24px 14px
					width: calc(100% / 4 - 16px)
					margin-bottom: 18px
					display: flex
					justify-content: space-between
					flex-wrap: wrap
					position: relative
					@media mqBigTablet
						width: calc(100% / 3 - 16px)
					@media mqMidTablet
						width: calc(100% / 2 - 16px)
					@media mqSmallTablet
						width: calc(100% / 3 - 12px)
					@media mqBigMobile
						width: calc(100% / 2 - 10px)
					@media mqMidMobile
						width: 100%
					&--link
						display: block
						width: 100%
					&--article
						display: inline-flex
						font-size: 12px
					&--favorite
						font-size: 12px
						display: inline-flex
						align-items: center
						cursor: pointer
						letter-spacing: 0.6px
						&.active 
							svg 
								fill: $c-blue
								stroke: none
						&:hover 
							text-decoration: underline
							svg
								transform: scale(1.1)
						svg
							transition: 0.1s
							height: 15px
							width: 15px
							margin-left: 8px
							margin-right: 4px
							fill: $c-white
							stroke: $c-blue
							font-size: 20px
					&--label
						background: #f14a3f
						padding: 6px 10px
						font-size: 16px
						position: absolute
						right: 18px
						top: 50px
						color: $c-white
					&--descr
						margin-top: 13px
						font-size: 14px
						letter-spacing: 0.5px
						@media mqSemiMobile
							font-size: 13px
						@media mqMidMobile
							font-size: 14px
					&--title
						font-weight: 500
						margin-top: 5px
						font-size: 18px
						letter-spacing: 0.9px
						@media mqSemiMobile
							font-size: 16px
						@media mqMidMobile
							font-size: 18px
					&--price, &--new-price
						width: 100%
						font-size: 20px
						font-weight: 600
						margin-top: 15px
						margin-top: 20px
						letter-spacing: 1px
						@media mqSemiMobile
							font-size: 18px
						@media mqMidMobile
							font-size: 20px
	
						&.disabled
							font-size: 14px
							color: #a4a4a4
							font-weight: 400
							margin-top: 7px
							position: relative
							span
								position: relative
								&:after
									content: ''
									background: #f14a3f
									width: 96%
									height: 1px
									position: absolute
									left: 0
									top: 0
									bottom: 0
									margin: auto
					&--new-price
						color: #f14a3f
						margin-top: 7px
					&--img
						width: 80%
						display: block
						margin: auto
						@media mqMidMobile
							max-width: 230px
					&__buttons
						margin-top: 32px
						width: 100%
						display: flex
						justify-content: space-between
						a
							display: block
						.btn--buy 
							width: calc(100% - 42px - 10px)
						.btn--compare
							width: 46px
							display: flex
							justify-content: center
							align-items: center
							height: 100%
							&:hover
								img
									width: 17px
							img
								width: 17px
								transition: 0.1s
		
		.compare
			width: 100%
			padding-right: 108px
			@media mqSmallDesktop
				padding-right: 0
			
			&-list
				margin-top: 76px
				display: flex
				justify-content: space-between
				position: relative
				width: 100%
				@media mqMidMobile
					width: calc(100% + 40px)
					margin-left: -20px
				@media mqMidMobile
					margin-top: 35px
				&__scroller
					// width: calc(100% - 360px)
					display: flex
					overflow-x: auto
					// flex-shrink: 1
					
				&__item
					border-right: 1px solid #d6d4d4
					// padding: 10px 0px
					// width: 
					min-width: calc(100% / 4)
					@media mqSmallDesktop
						min-width: calc(100% / 3)
					@media mqSmallTablet
						min-width: calc(100% / 2)
					@media mqBigMobile
						min-width: 100%
					&__top
						height: 129px
						padding: 6px 28px 0 33px
						display: flex
						flex-wrap: wrap
						align-items: flex-start
						position: relative
						@media mqMidTablet
							padding: 6px 22px 0
						@media mqMidMobile
							height: 140px
							flex-wrap: wrap
							padding: 6px 15px 0
						&--wrap
							width: calc(100% - 62px)
							position: relative
							z-index: 1
							@media mqMidMobile
								width: 100%
						&--img
							position:relative
							width: 62px
							height: 56px
							@media mqMidMobile
								width: 100%
							img
								width: 80px
								position: relative
								top: -12px
								left: -13px
								@media mqMidMobile
									position: static
									width: 50px
									top: 0
									margin: auto
									display: block
						&--descr
							font-size: 14px
							// white-space: pre
							@media mqMidMobile
								font-size: 12px
								text-align: center
						&--title
							font-size: 18px
							font-weight: 600
							margin-top: 4px
							// white-space: pre
							@media mqMidMobile
								font-size: 16px
								text-align: center
						&--add
							text-transform: uppercase
							font-size: 16px
							font-weight: 500
							position: absolute
							width: 210px
							display: flex
							align-items: center
							top: 7px
							bottom: 0
							margin: auto
							right: 39px
							cursor: pointer
							line-height: 1.5em
							@media mqSemiMobile
								font-size: 14px
								right: 0
								width: 180px
							@media mqMidMobile
								right: -15px
							&:hover
								i
									transform: scale(1.05)
							i 	
								transition: 0.1s
								min-width: 46px
								width: 46px
								height: 46px
								background: $c-blue
								display:  block
								margin-right: 18px
								border-radius: 100%
								position: relative
								display: flex
								justify-content: center
								align-items: center
								font-style: normal
								color: $c-white
								font-size: 38px
								@media mqSemiMobile
									width: 40px
									height: 40px
									min-width: 40px
									font-size: 30px
								@media mqMidMobile
									margin-right: 8px
								&:after 
									content: '+'
									
						.btn
							margin-top: 0px
							width: 100%
							position: relative
							z-index: 1
							min-width: 90px
							max-width: 206px
							margin: auto
							@media mqMidMobile
								margin: 15px auto 0
							svg 
								min-width: 18px
					&--main
						display: block
						width: 360px
						min-width: 340px
						@media mqSmallDesktop
							width: 320px
							min-width: 280px
						@media mqBigTablet
							width:280px
							min-width: 240px
						@media mqSemiMobile
							width:220px
							min-width: 180px
						@media mqMidMobile
							padding-left: 20px
						.compare-list__item__top 
							img
								position: relative
								left: -47px
								top: -25px
								opacity: 0.25
								width: 180px
								@media mqSemiMobile
									width: 150px
									top: -10px
								@media mqMidMobile
									width: 130px
									top: 0
									left: -30px
							
						.compare-list__item--section
							padding: 0 15px
							font-weight: 500
							@media mqSemiMobile
								padding: 0
					&--section
						height: 43px
						padding: 0 78px
						color: #424242
						margin-top: 28px
						display: flex
						align-items: center
						font-size: 14px
						@media screen and (max-width: 1600px)
							padding: 0 60px
						@media mqSmallDesktop
							padding:0 40px
						@media mqSemiMobile
							padding: 0 20px
						&:after
							content: ''
							left: 0
							content: ''
							position: absolute
							background: #e8e8e8
							width: 100%
							position: absolute
							// height: 100%
							height: 43px
							z-index: -1
							transition: 0.1s
							opacity: 0
							visibility: hidden
						&:hover 
							&:after
								opacity: 1
								visibility: visible
								
		.search
			.catalog__goods__grid  
				width: 100%
				margin-top: 17px
				&__item
					width: calc(100% / 5 - 15px)
					@media mqBigTablet
						width: calc(100% / 4 - 16px)
					@media mqMidTablet
						width: calc(100% / 3 - 12px)
					@media mqBigMobile
						width: calc(100% / 2 - 10px)
					@media mqMidMobile
						width: 100%
			&__result
				margin-top: 48px
				color: #424242
				display: flex
				align-items: center
				@media mqSmallTablet
					margin-top: 30px
				&--title
					font-size: 16px
					font-weight: 500
					margin-right: 6px
					text-transform: uppercase
					@media mqSmallTablet
						font-size: 14px
				&--value
					font-size: 16px
		
		.product-card
			padding-top: 7px
			
			// .magnify
			// 	width: 100%
			// 	height: 100%
			&__top
				display: flex
				justify-content: center
				align-items: center
				@media mqMidMobile
					flex-wrap: wrap
					flex-direction: column-reverse
					align-items: flex-start
				.catalog--title:after
					content: none
				.catalog--title
					@media mqMidMobile
						margin-top: 15px
				.btn.btn--transparent 
					font-size: 12px
					white-space: nowrap
					padding: 10px 20px
			&__main
				margin-top: 41px
				display: flex
				justify-content: space-between
				@media mqBigMobile
					flex-wrap: wrap
					margin-top: 30px
				@media mqMidMobile
					margin-top: 25px
				&__slider
					padding-top: 2px
					width: calc(55% - 9px)
					height: 470px
					border-right: 1px solid #e8e8e8
					display: flex
					position: relative
					@media mqBigMobile
						width: 100%
						flex-wrap: wrap
						height: auto
						border-right: none
					&__img
						width: calc(100% - 100px - 20px)
						display: flex
						align-items: center
						justify-content: center
						padding: 30px
						@media mqBigMobile
							width: 100%
							height: 300px
							border: 1px solid #e8e8e8
						img
							width: 100%
							height: 100%
							display: block
							object-fit: contain
					&__thumbs
						width: 140px
						// height: 100%
						display: flex
						flex-wrap: wrap
						align-content: space-between
						padding-bottom: 13px
						@media mqMidTablet
							width: 110px
						@media mqBigMobile
							width: 100%
							flex-wrap: nowrap
							justify-content: space-between
						&--item
							overflow: hidden
							width: 100%
							height: calc(100%/5 - 13px)
							border: 1px solid #e8e8e8
							padding: 18px
							cursor: pointer
							@media mqBigMobile
								height: 120px
								width: calc(100% / 5 - 10px)
							@media mqSemiMobile
								height: 90px
								padding: 10px
							@media mqMidMobile
								height: 60px
							&:hover
								img
									transform: scale(1.07)
							img
								width: 100%
								height: 100%
								display: block
								object-fit: contain
								transition: 0.1s
					&--favorite
						position: absolute
						right: 36px
						top: 0px
						cursor: pointer
						&.active 
							svg 
								fill: $c-blue
								stroke: none
						@media mqBigMobile
							top: 150px
							right: 10px
						@media mqSemiMobile
							top: 120px
						@media mqMidMobile
							top: 90px
						&:hover
							transform: scale(1.1)
						svg
							height: 22px
							width: 22px
							stroke: #000
							fill: $c-white
					&--compare
						position: absolute
						right: 36px
						top: 44px
						cursor: pointer
						@media mqBigMobile
							top: 186px
							right: 10px
						@media mqSemiMobile
							top: 156px
						@media mqMidMobile
							top: 126px
						&:hover
							transform: scale(1.1)
						img
							width: 24px
					&--zoom
						position: absolute
						right: 30px
						bottom: 0px
						cursor: pointer
						@media mqBigMobile
							right: 10px
							bottom: 10px
						&:hover
							transform: scale(1.1)
						svg
							width: 24px
							height: 24px
							fill: #727272
				&__info
					width: calc(45% - 33px)
					@media mqBigMobile
						width: 100%
						margin-top: 10px
					&--article
						font-size: 14px
						display: inline-flex
						margin-right: 50px
						color: #4f4f4f
					&--state
						display: inline-flex
						font-size: 14px
						span
							font-weight: 600
							color: #4f4f4f
						b
							color: $c-blue
							margin-left:10px
					&--price
						margin-top: 22px
						font-size: 36px
						font-weight: 500
						color: #4f4f4f
					&--status
						margin-top: 5px
						font-size: 14px
						position: relative
						&:before
							content: '✔'
							color: #38d95e
							font-size: 15px
							margin-right: 6px
					&__list
						width: 33%
						display: inline-flex
						flex-wrap: wrap
						margin-right: 30px
						margin-top: 22px
						@media mqSemiMobile
							width: 100%
							align-items: center
						b 
							width: 100%
							font-size: 18px
							color: #4f4f4f
							font-weight: 600
							@media mqSemiMobile
								width: auto
							@media mqSmallMobile
								font-size: 16px
						span
							display: inline-block
							margin-top: 10px
							color: $c-blue
							font-size: 14px
							@media mqSemiMobile
								margin-top: 0
								margin-left: 16px
					&__bottom
						margin-top: 36px
						border-top: 1px solid #e8e8e8
						padding-top: 40px
						display: flex
						align-items: center
						@media mqBigTablet
							flex-wrap: wrap

						&__banner
							width: 144px
							border: 1px solid $c-blue
							display: inline-flex
							flex-wrap: wrap
							margin-right: 41px
							@media mqBigTablet
								margin-bottom: 0
							@media mqMidMobile
								margin-right: 25px
								
							& + div
								display: flex
								@media mqBigTablet
									display: block
								@media mqBigMobile
									display: flex
								@media mqMidMobile
									display: block
							img
								width: 100%								
							&--text
								width: 100%
								background: $c-blue
								padding: 7px
								color: $c-white
								text-align: center
								text-transform: uppercase
								font-size: 12px
						&--link
							cursor: pointer
							display: flex
							align-items: center
							margin-right: 41px
							font-size: 14px
							text-decoration: underline
							color: #4f4f4f
							@media mqBigTablet
								width: 100%
								margin: 6px 0
							@media mqBigMobile
								margin: 0 41px 0 0
							@media mqMidMobile
								margin: 6px 0
							svg
								margin-right: 10px
								width: 25px
								height: 25px
					&--buttons
						margin-top: 15px
						display: flex
						flex-wrap: wrap
						justify-content: space-between
						@media mqSemiMobile
							justify-content: center
							
						.input-number, .dropdown
							margin: 5px
						.btn 
							height: 40px
							width: 243px
							text-transform: uppercase
							font-size: 14px
							font-weight: 600
							margin: 5px
							@media mqBigMobile
								width: 220px
						.btn--transparent 
							font-weight: 600
				
			&__bottom
				display: flex
				justify-content: center
				align-items: center
				position: relative
				margin-top: 5px
				margin-bottom: 38px
				@media mqBigMobile
					display: block
					text-align: center
					margin-bottom: 15px
				.btn--blue
					padding: 12px 30px 10px
					font-size: 13px
					width: 200px
			&--back-link
				position: absolute
				right: 0
				color: $c-blue
				@media mqBigMobile
					width: 100%
					position: static
					display: block
					margin-top: 25px
				&:hover
					text-decoration: underline
				&:before
					content: ''
					margin-right: 10px
					border: solid $c-blue
					border-width: 0 1px 1px 0
					display: inline-block
					padding: 4px
					position: relative
					top: 0px
					// position: absolute
					transform: rotate(135deg)
					-webkit-transform: rotate(135deg)
					transition: 0.2s
			&--wrapper
				margin-top: 63px
				margin-bottom: 26px
				display: flex
				justify-content: space-between
				align-items: flex-start
				@media mqBigMobile
					flex-wrap: wrap
					margin-top: 20px
				& + .catalog--title 
					font-size: 22px
					// @media mqBigMobile
					// 	font-size: 18px
					&:after
						height: 3px
						width: 38px
						position: absolute
						left: 0
						bottom: -17px
			&__menu
				width: calc(50% - 47px)
				@media mqSmallTablet
					width: calc(50% - 30px)
				@media mqBigMobile
					width: 100%
					
				&__table 
					margin-right: 20px
					margin-top: 49px
					border-right: 1px solid #fafafa
					@media mqBigTablet
						margin-right: 0
					&--item
						font-size: 14px
						@media mqSmallTablet
							font-size: 12px
						@media mqBigMobile
							font-size: 14px
						@media mqMidMobile
							font-size: 12px
						&:nth-child(odd)
							background: #fafafa
						display: flex
					&--title
						width: 62%
						padding: 15px 24px 13px
						@media mqSmallTablet
							padding: 13px 18px 11px
					&--value
						border-left: 1px solid #fafafa
						width: 38%
						padding: 15px 24px 13px
						@media mqSmallTablet
							padding: 13px 18px 11px
				&--top
					display: flex
					flex-wrap: wrap
					border-bottom: 1px solid #e8e8e8
				&--content
					display: none
					&.active
						display: block
				&--item
					font-size: 18px
					cursor: pointer
					margin-right: 41px
					font-weight: 400
					color: #4f4f4f
					position: relative
					padding: 15px 0
					letter-spacing: 0.5px
					@media mqBigTablet
						margin-right: 25px
					@media mqBigMobile
						font-size: 16px
						margin-right: 20px
					@media mqMidMobile
						font-size: 14px
						margin-right: 14px
					&.active
						text-shadow: 0 0px 0px #4f4f4f
						&:after
							width: 100%
							left: 0
							content: ''
							position: absolute
							bottom: -1px
							height: 2px
							background: $c-blue
				&--title
					margin-top: 15px
					font-size: 22px
					width: 100%
					font-weight: 600
					color: #4d4d4d
					letter-spacing: 0.2px
					@media mqBigMobile
						font-size: 20px
				&--descr
					font-size: 14px
					margin-top: 12px
					width: 100%
					line-height: 1.5em
					color: #4d4d4d
			&__details
				width: calc(50% + 7px)
				@media mqSmallTablet
					width: calc(50%)
				@media mqBigMobile
					width: 100%
					margin-top: 35px
				&--top
					padding: 3px 0
					width: 100%
					display: flex
					flex-wrap: wrap
					border-bottom: 1px solid #e8e8e8
				&--title
					font-size: 24px
					font-weight: 600	
					color: #4d4d4d
					width: 100%
					padding-bottom: 16px
					@media mqBigMobile
						font-size: 22px
						padding-bottom: 10px
				.quality-list
					width: 100%
					margin-top: 0
					&__item
						margin-left: 82px
						padding-top: 19px
						margin-bottom: 7px
						width: 100%
						border-top: none
						animation: none
						opacity: 1
						visibility: visible
						@media mqBigMobile
							margin-left: 0
						img
							left: -86px
							top: 22px
							@media mqBigMobile
								position: static
								margin: 0 auto 15px
								display: block
								width: 55px
						&--text
							width: calc(100% + 37px)
							@media mqBigMobile
								width: 100%
								text-align: left
						&--title
							font-size: 18px
							@media mqBigMobile
								text-align: center
						
			.catalog__goods__grid  
				width: 100%
				margin-top: 40px
				&__item
					width: calc(100% / 5 - 20px)
					@media mqBigTablet
						width: calc(100% / 4 - 16px)
					@media mqMidTablet
						width: calc(100% / 3 - 12px)
					@media mqBigMobile
						width: calc(100% / 2 - 10px)
					@media mqMidMobile
						width: 100%
					