.dealers-page
	& > .container
		height: calc(100vh - 273px)
		
		.title, .breadcrumbs
			position: relative
			z-index: 2
				
	.world-map
		position: absolute
		width: 100%
		height: calc(100vh - 127px - 112px)
		z-index: 1
		background: #d0d0d0
		top: 112px
		padding-left: 15%;
		left: 0

	.dealers
		z-index: 2
		position: relative
		.dealers__search
			background: #1f1f1f
			padding: 36px 0
			&--wrap
				display flex
				justify-content: space-between
				width: 60%
			.btn
				width: 220px
				height: 55px
				&.btn--transparent
					border-width: 2px
					color: $c-white
					font-size: 16px
					font-weight: 600
			.container
				display: flex
				justify-content: space-between
				align-items: center
			&--item
				text-transform: uppercase
				color: $c-white
				cursor: pointer
				&:hover
					text-decoration: underline
		.dealers__countries
			background: $c-white
			padding: 57px 0
			.container
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				max-width: 1800px
				margin-left: 145px
			&--item
				width: calc(100% / 5)
				margin-bottom: 29px
				cursor: pointer
				text-transform: uppercase
				&:hover
					text-decoration: underline

.dealer-page
	padding-top: 112px

	.breadcrumbs
		margin-top: 38px

	.text
		font-size: 16px
		color: #1f1f1f
		line-height: 1.65em
		letter-spacing: -0.4px
		
		& + .text 
			margin-top: 30px

	.dealer-top
		height: 431px
		position relative
		&--text
			display flex
			align-items: center
			position absolute
			bottom: 0px
			top: 0
			margin: auto
			width: 650px
			height: 112px
			left: 181px
			font-weight: 600
			font-size: 54px
			background: #fff
			letter-spacing: 1px
			// text-transform: uppercase
			padding: 0 29px 0
			border-left: 3px solid #f14a3f

		.dropdown
			position absolute
			right: 201px
			top: 124px
			width: 332px
			&--value
				background: #fff
				font-size: 18px
				height: 46px
				border: none
				&:after
					right: 18px
			&__list
				top: calc(100% + 3px)
				&--item
					display flex
					align-items: center
					font-size: 14px
					background: #e8e8e8
					padding: 16px 19px
					svg 
						margin: 0 7px 0px 9px
						fill: #f14a3f
						width: 15px
						height: 15px
		img 
			width: 100%
			display block
			height: 100%
			object-fit: cover
	.dealer-details
		margin-top: 45px
		display flex
		justify-content: space-between
		& > div
			&:first-child
				width: calc(67%)
			&:last-child
				width: calc(33% - 20px)
		&__info
			margin-top: 5px
			border: 2px solid #e8e8e8
			padding: 28px 30px
			display flex
			justify-content: space-between
			align-items: flex-start
			& > div
				width: 69%
			&--title
				font-size: 18px
				text-transform: uppercase
				font-weight: 600
				margin-top: 5px
			&--position
				color: #909090
				font-size: 14px
				margin-top: 8px
			&--place
				font-size: 14px
				margin-top: 9px
				font-weight: 500

			&--phone, &--email
				color: #909090
				font-size: 16px
				font-weight: 500
				margin-top: 16px
				display flex
				align-items: center
				svg 
					min-width: 14px
					width: 14px
					height: 14px
					margin-right: 10px
					margin-top: -4px
					fill: #f14a3f
			&--email
				svg 
					margin-top: 3px
					width: 18px
					height: 18px