.example-page
	padding-top: 0//calc(47px + 65px)
	// transition: 0.5s
	
	&:after
		position: absolute
		top: 0
	.bottom-block
		margin-top: 0
	&.full-size
		padding-top: 0
		height: 100vh
		&:after
			top: -200px
			
	.example-label
		display: flex
		flex-wrap: wrap
		align-items: center
		position: absolute
		bottom: 115px
		max-width: 728px
		left: 50%
		font-size: 54px
		background: #fff
		letter-spacing: 1px
		padding: 30px 30px
		border-left: 3px solid #f14a3f
		@media mqSmallDesktop
			right: 0
			left: auto
			max-width: 650px
		@media mqBigTablet
			padding: 20px 
			max-width: 550px
		@media mqBigMobile
			max-width: 400px
		@media mqMidMobile
			width: 70%
		@media mqMidMobile
			bottom: 60px
		&--title
			width: 100%
			text-transform: uppercase
			font-size: 54px
			font-weight: 500
			font-family: 'PT Sans', sans-serif
			@media mqBigTablet
				font-size: 42px
			@media mqMidTablet
				font-size: 32px
			@media mqBigMobile
				font-size: 24px
			@media mqMidMobile
				font-size: 20px
		&--text
			font-family: 'PT Sans', sans-serif
			margin-top: 10px
			font-size: 14px
			font-weight: 400
			@media mqBigMobile
				font-size: 12px
			
	.example-wrapper
		height: calc(100vh)
		position: relative
		@media mqBigMobile
			height: calc(100vh - 95px)
		@media mqMidMobile
			height: calc(100vh - 80px)
	.example-slider
		width: 100%
		.slick-slide
			// height: 100%
			// width: 100%
			img
				display: block
				height: calc(100vh)
				// height: 100vh
				width: 100%
				object-fit: cover
				@media mqBigMobile
					height: calc(100vh - 95px)
					object-fit: contain
				@media mqMidMobile
					height: calc(100vh - 80px)
				
		.slick-dots
			position: absolute
			z-index: 3
			left: 0
			right: 0
			margin: auto
			bottom: 30px
			display: flex
			justify-content: center
			li
				margin: 0 3px
				cursor: pointer
				&.slick-active
					button
						background: #fff
				button
					font-size: 0
					width: 30px
					height: 2px
					background: #ccc
					border: none
			
		.slick-arrow
			&.slick-prev, &.slick-next
				position: absolute
				top: 0
				bottom: 0
				height: 50px
				width: 50px
				margin: auto
				
				z-index: 5
				font-size: 0
				border: none
				cursor: pointer
				transition: 0.1s
				@media mqBigMobile
					width: 40px
					height: 40px
			&.slick-prev
				left: 30px
				background: url(../img/arrow-point-to-right.svg)
				background-size: cover
				transform: rotate(180deg)
				@media mqBigMobile
					left: 0px
				&:hover
					transform: scale(1.1) rotate(180deg)
				
			&.slick-next
				right: 30px
				background: url(../img/arrow-point-to-right.svg)
				background-size: cover
				@media mqBigMobile
					right: 0px
				&:hover
					transform: scale(1.1)

.examples-page
	.bottom-block 
		margin-top: 90px
		@media mqSmallTablet
			margin-top: 60px
		@media mqSemiMobile
			margin-top: 40px
	.examples__list
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		margin-top: 46px
		// width: 100%
		&__item
			width: calc(100%/3)
			position: relative
			user-select: none
			min-height: 14.5vw
			@media mqSmallTablet
				width: calc(100%/2)
				min-height: 200px
			@media mqSemiMobile
				width: 100%
				min-height: 150px
			@media mqMidMobile
				margin-bottom: 15px


			&.has-children
				@media mqMidMobile
					margin-bottom: 0
				.examples__list__item--img
					@media mqSemiMobile
						min-height: 300px
					@media mqMidMobile
						min-height: 150px
						height: auto
					a
						width: 50%
						height: 50%
						@media mqMidMobile
							width: 100%
							min-height: 150px
						@media mqMidMobile
							margin-bottom: 15px
					img
						width: 50%
			&--img
				width: 100%
				display: flex
				flex-wrap: wrap
				align-items: flex-start
				height: 100%
				& > a
					width: 100%
					height: 100%
					background-size: cover!important
					background-position: center!important
					position: relative
					cursor: pointer
					
					&:hover
						&:after, &:before
							opacity: 1
							visibility: visible
					&:after
						content: ''
						position: absolute
						left: 0
						top: 0
						width: 100%
						height: 100%
						opacity: 0
						visibility: hidden
						background: rgba(7, 134, 255, 75%)
						transition: 0.2s
					&:before
						content: ''
						background: url('../img/search-white.svg')
						background-size: cover
						position: absolute
						top: 0
						bottom: 0
						left: 0
						opacity: 0
						visibility: hidden
						right: 0
						width: 40px
						height: 40px
						margin: auto
						z-index: 1
						
				img
					display: block
					width: 100%